/* OGOLNY LAYOUT */
body, html{
    margin: 0; 
    padding: 0;
    font-size: 16px;
    box-sizing: border-box; 
    background: url("../images/back3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.saved{
    position: fixed;
    width: 20vw;
    height: 20vh;
    top: 40vh;
    left: 40vw;
    border: 1px solid rgba(253, 0, 0, 0.993);
    color: rgb(253, 0, 0);
    text-shadow: 0px 2px 2px red; 
    border-radius: 20px;
    font-size: 1.5em;
    line-height: 4em;
    opacity: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.saved-big{
    animation-name: saved;
    animation-fill-mode: backwards;
    animation-duration: 1.1s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
@keyframes saved{
    from{
        width: 20vw;
        height: 20vh;
        top: 40vh;
        left: 40vw;
        opacity: 0.7;
        background-color: transparent;
    }
    to{width: 80vw;
        height: 80vh;
        top: 10vh;
        left: 10vw;
        line-height: 6em;
        font-size: 5em;
        opacity: 1;
        background-color: rgba(43, 42, 42, 0.432);
    }
}
/* CALY KONTENER */
.notes-container{
    width: 80vw;
    height: 90vh;
    min-height: 90vh;
    
    position: relative;
    left: 10vw;
    top: 5vh;
}
/* BOCZYNY FIXED BAR */
.notes-download-bar{
    width: 80px;
    height: 30vh;
    border: 5px dashed rgba(247, 247, 247, 0.356);
    position: fixed;
    top:35vh;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    align-items: center;
}
.notes-download-bar > div{
    width: 90%;
    height: calc(100% / 4);
   
    transition: 0.3s ease-in all;
}
/* MENU Z KONTROLKAMI */
.notes-controllers{
position: sticky;
top: 3vh;
width: 75vw;
height:10vh;
border: 1px solid rgba(207, 207, 207, 0.116);
left: 12.5vw;
display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    background: url("../images/back2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    
}
.notes-controllers:after{
    content: "";
position: absolute;
bottom: -45px;
right: 0;
width: 0;
height: 0;
border-style: solid;
border-width: 45px 45px 0 0;
border-color: #292929cc transparent transparent transparent;
}
.notes-controllers:before{
    content: "";
position: absolute;
bottom: -45px;
left: 0%;
width: 0;
height: 0;
border-style: solid;
border-width: 0 45px 45px 0;
border-color: transparent #292929cc transparent transparent;
}
.notes-controllers > button, body > div.notes-controllers > div.notes-controllers-controller.notes-controllers-controller-font-size,body > div.notes-controllers > div.notes-controllers-controller.notes-controllers-controller-font-name{
    width: calc(100% / 9);
    height: 90%;
    border:3px solid rgba(134, 134, 134, 0.192);
    border-radius: 10px;
    background-color: transparent;
    transition: 0.3s ease-in all;

}

/* MIEJSCE DO PISANIA */
.notes-writting-place{
    width: 80%;
    min-height: 100%;
    border: 1px dashed rgba(32, 32, 32, 0.116);
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    padding: 50px 40px 20px 40px;
    box-sizing: border-box;
    box-shadow: 3px 2px 3px rgba(56, 56, 56, 0.521);
    background-color: rgba(255, 255, 255, 0.63);
}
select{
    width: 100%;
    position: relative;
    top: 70%;
    background-color: rgba(99, 99, 99, 0.11);
    border: 1px dashed rgba(161, 161, 161, 0.767);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    
}
.notes-controllers-controller-bold{
    background: url("../images/bold2-icon.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    

}
.notes-controllers-controller-bold:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.notes-controllers-controller-italic{
    background: url("../images/italic2-icon.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
.notes-controllers-controller-italic:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.notes-controllers-controller-center{
    background: url("../images/center2-icon.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
.notes-controllers-controller-center:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.notes-controllers-controller-hilite{
    background: url("../images/hlite-icon.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
.notes-controllers-controller-hilite:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.notes-controllers-controller-font-size{
    background: url("../images/font-size-icon.png");
    background-size:50% 80%;
    background-repeat: no-repeat;
    background-position: top;

}
.notes-controllers-controller-font-size:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.notes-controllers-controller-underline{
    background: url("../images/underline-icon.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
.notes-controllers-controller-underline:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.notes-controllers-controller-font-name{
    background: url("../images/font-change-icon.png");
    background-size:50% 80%;
    background-repeat: no-repeat;
    background-position: top;

}
.notes-controllers-controller-font-name:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.notes-download-bar-download{
    background: url("../images/download-icon.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.notes-download-bar-download:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.notes-download-bar-save{
    background: url("../images/save-icon.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.notes-download-bar-save:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.notes-download-bar-remove{
    background: url("../images/remove-icon.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.notes-download-bar-remove:hover{
    transform:scale(1.1);
    cursor: pointer;
}